.header {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-top: 3rem;
}

.header__timer {
  display: flex;
  gap: 2rem;
}

.header__timer-block {
  border: 1px solid rgb(92, 88, 88);
  width: 6rem;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.header__numbers {
  font-size: 1.3rem;
  font-weight: 300;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  max-width: 1200px;
  margin: 0 auto;
}

.form-response {
  text-align: center;
  margin-top: 50px;
}

.progress-container {
  width: 100%;
  margin-top: 16px;
}

.progress-line {
  position: relative;
  height: 4px;
  background-color: #e0e0e0;
  border-radius: 2px;
}

.progress-bar {
  position: absolute;
  height: 100%;
  background-color: #d32f2f;
  border-radius: 2px;
}

.progress-steps {
  display: flex;
  justify-content: flex-start;
  margin-top: 8px;
  gap: 10px;
}

.step {
  width: 40px;
  height: 10px;
  /* border-radius: 50%; */
  background-color: #e0e0e0;
}

.step.active {
  background-color: #d32f2f;
}
